.App {
  text-align: center;
  background-color: #e1f7fd;
  height: 100vh;
}

.menu{
  height: 20vh;
}

.slider {
  width: 50%;
}

.slider-div {
  width: 25%;
}

.sliders{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}